#container {
    margin: 15px;
    padding: 20px;
    max-height: 625px;
    border: 2px solid black;
    font-family: Verdana, Tahoma, sans-serif;
    overflow: hidden;
    text-align: center;
}

#playerSpacing {
    padding: 50px;
}

#welcome {
    height: 172px;
    border: 1px solid black;
    text-align: center;
}

#title {
    color: rgb(195, 0, 255);
    font-size: 18px;
    font-family: 'Courier New', monospace;
}

#players {
    font-size: 16px;
}

.XandO {
    padding: 2px;
    color: rgb(0, 119, 255);
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
    font-weight: bold;
}

#players input {
    width: 200px;
    font-size: 16px;
    color: red;
}

#startbutton {
    padding: 5px 25px 5px 25px;
    margin-top: 15px;
    background-color: rgb(177, 255, 158);
    border: none;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}

#startbutton:hover {
    background-color: rgb(149, 234, 255);
    cursor: pointer;
}

#warning {
    margin-top: 5px;
    font-size: 16px;
    color: red;
}

#game {
    /* padding: 25px 20% 15px 20%; */
    font-size: 16px;
}

.inline {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}

#turn {
    /* margin-left: 25%; */
    /* padding-left: 60px; */
    background-color: aquamarine;
    font-weight: bold;
}

#turnName {
    margin-left: 10px;
    color: red;
}

#board {
    margin-top: 20px;
    /* margin-left: 20%; */
}

#commentaryBox {
    padding: 5px 10px 10px 10px;
    border: 2px solid black;
    /* position: relative;
    left: 450px;
    bottom: 315px;
    border: 2px solid black;
    height: 300px;
    width: 200px; */
}

.cellTitle {
    padding: 15px 25px 15px 25px;
    text-align: center;
}

.cell {
    height: 100px;
    width: 100px;
    background-color: rgb(202, 202, 202);
    color: rgb(255, 0, 0);
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    font-weight: bold;
}

.cell:hover {
    background-color: rgb(165, 165, 165);
}

.cell:active {
    background-color: rgb(204, 130, 130);
}

.toggle {
    display: none;
}